.custom-tooltip
    background-color #00bc8c
    border none
    color #fff
    position relative
    padding 0.75rem 1.25rem
    padding-right 1.25rem
    margin-bottom 1rem
    border 1px solid transparent
    border-radius 0.25rem

    strong
        display block